  
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.select-search {
    width: 150px;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Roboto';
    box-sizing: border-box
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

    .select-search.is-disabled {
        opacity: 0.5;
    }

    .select-search__value {
        position: relative;
    }

    .select-search__value::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: calc(50% - 9px);
        right: 19px;
        width: 11px;
        height: 11px;
        transform: rotate(45deg);
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        pointer-events: none;
    }

    .select-search__input {
        display: block;
        height: 36px;
        width: 100%;
        padding: 0 16px;
        background: #fff;
        border:none;
        box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        outline: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        text-align: left;
        line-height: 36px;
        -webkit-appearance: none;
    }

    .select-search:not(.is-disabled) .select-search__input {
        cursor: pointer;
    }

    .select-search--multiple .select-search__input {
        cursor: initial;
    }

    .select-search__input::-webkit-search-decoration,
    .select-search__input::-webkit-search-cancel-button,
    .select-search__input::-webkit-search-results-button,
    .select-search__input::-webkit-search-results-decoration {
        -webkit-appearance:none;
    }

    .select-search--multiple .select-search__input {
        border-radius: 3px 3px 0 0;
    }

    .select-search__input:hover {
        border-color: #2FCC8B;
    }

    .select-search__input:not([readonly]):focus {
        cursor: initial;
    }

    .select-search__select {
        background: #fff;
        box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    }

    .select-search:not(.select-search--multiple) .select-search__select {
        position: absolute;
        z-index: 2;
        top: 44px;
        right: 0;
        left: 0;
        border-radius: 3px;
        overflow: auto;
        max-height: 360px;
    }

    .select-search--multiple .select-search__select {
        height: 180px;
        overflow: auto;
        border-top: 1px solid #eee;
        border-radius: 0 0 3px 3px;
    }

    .select-search__options {
        list-style: none;
    }

    .select-search__row:not(:first-child) {
        border-top: 1px solid #eee;
    }

    .select-search__option {
        display: block;
        height: 36px;
        width: 100%;
        padding: 0 0;
        background: #fff;
        border: none;
        outline: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        text-align: left;
        cursor: pointer;
    }

    .select-search--multiple .select-search__option {
        height: 48px;
    }

    .select-search__option.is-selected {
        background: #2FCC8B;
        color: #fff;
    }

    .select-search__option.is-highlighted,
    .select-search__option:not(.is-selected):hover {
        background: rgba(47, 204, 139, 0.1);
    }

    .select-search__option.is-highlighted.is-selected,
    .select-search__option.is-selected:hover {
        background: #2eb378;
        color: #fff;
    }

    .select-search__group-header {
        font-size: 10px;
        text-transform: uppercase;
        background: #eee;
        padding: 8px 16px;
    }

    /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

#donator {
    position: relative;
    justify-content: center;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    height: 100vh;
    margin-top: 15%;
}

#donator2 {
    position: relative;
    justify-content: center;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 240px;
}

/*

@media screen and (min-width: 700px) {
    #donator2 {
        flex-direction: row;
        height: 120vh;
    }
} */

@media (min-width: 53em) {
  .Nav {
      display: none;
  }
}

@media (max-width: 53em) {
  #barNav {
      display: none;
  }
}

@media (max-width: 53em) {
  #payment {
    margin-left: 0px;
  }
  #donator {
    margin-top: 120px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100vh
  }
  #enterpmt {
    left: 0px;
  }
}
/* #Qqs {
  white-space: normal;
}

@media (min-width: 650px) {
  #Qqs {
    white-space: nowrap;
  }
} */
#buttonToolbar {
    display: block;
    white-space: nowrap;
    padding-bottom: 20px;
}

@media (max-width: 515px) {
  #buttonToolbar {
    display: flex;
    flex: wrap;
  }

}

@media (max-width: 591px) {
  #field-wrapper {
    height: 10vh;
  }
}
@media (max-width: 591px) {
  #field-wrapper {
    height: 10vh;
  }
}

#field-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 9vh;
}

@media (min-width: 940px) {
  #field-wrapper {
  width: 100%;
  height: 10vh
  }
  #allInvoice {
    margin-top: 10%;
    margin-bottom: 15%;
  }
}
@media (min-width: 1075px) {
  #field-wrapper {
    height: 5vh;
  }
}

#allInvoice {
  margin-top: 2%;
  margin-bottom: 2%;
}
@media (min-width: 0px) {
  #allInvoice {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

#protecting {
  margin-top: 2%;
  margin-bottom: 2%;
}
@media (min-width: 0px) {
  #protecting {
    margin-top: 5%;
    margin-bottom: 8%;
  }
}
#ban {
  height: 90px;
}
@media (max-width: 1072px) {
  #ban {
    height: 300px;
  }
}
html {
  scroll-behavior: smooth;
}
  
